.categoriesItemContainer {
  width: 355px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 45px;
  cursor: pointer;
}

.categoriesItemContainer img {
  width: 355px;
  height: 492px;
}

.categoriesItemContainer p {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}

@media screen and (max-width: 1109px) {
  .categoriesItemContainer {
    width: 343px;
    height: 498px;
    margin-bottom: 40px;
  }

  .categoriesItemContainer img {
    width: 343px;
    height: 457px;
  }
}