*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header components style */

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background: #F6EFEF;
}

.headerContent {
  width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.32);
  padding: 20px 0;
  position: relative;
}

.headerTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  width: 183px;
  height: 43px;
  text-decoration: none;
  font-size: 32px;
  color: black;
}

.btnContainer {
  width: 56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContentBtn {
  font-size: 20px;
  background: transparent;
  border: none;
  color: #797676;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.headerContentBtnActive {
  font-size: 20px;
  background: transparent;
  border: none;
  color: #797676;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  animation: slideUp 1s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1109px) {
  .headerContent {
    width: 343px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.32);
    padding: 20px 0;
    position: relative;
  }

  .headerTitle {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    width: 115px;
    height: 27px;
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
}



