.consultationDoneContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.consultationDoneContent {
  width: 1110px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #F6EFEF;
  overflow: hidden;
}

.contentBlog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.blotTitle {
  width: 445px;
  height: 86px;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 400;
}

.blotText {
  width: 445px;
  height: 32px;
  margin-bottom: 77px;
  font-size: 24px;
  font-weight: 400;
}

.contentBlog img {
  width: 160px;
  height: 160px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  background: transparent;
  border: none;
  color: #797676;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px 20px 0 0;
  transition: 0.3s;
}

.closeBtn:hover {
  color: black;
}

@media screen and (max-width: 1109px) {
  .consultationDoneContent {
    width: 375px;
    height: 80vh;
    position: relative;
  }

  .consultationDoneContent img{
    position: absolute;
    top: 0;
    width: 375px;
    height: 100%;
    object-fit: cover;
  }

  .consultationDoneContent::after{
    content: "";
    position: absolute;
    top: 0;
    width: 375px;
    height: 80vh;
    background: rgba(0, 0, 0, 0.7);
  }

  .contentBlog {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
  }
  
  .blotTitle {
    width: 274px;
    height: 96px;
    margin: 181px 0 40px 0;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #F6EFEF;
    z-index: 2;
  }
  
  .blotText {
    width: 144px;
    height: 27px;
    margin-top: 60%;
    font-size: 20px;
    color: #F6EFEF;
    z-index: 2;
  }
  
  .closeBtn {
    color: #F6EFEF;
    z-index: 2;
  }

  .closeBtn:hover {
    color: #797676;
  }

  .contentBlog img {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 300px;
    right: 60px;
    z-index: 2;
  }
}